.page1 {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://miro.medium.com/v2/resize:fit:1024/0*-7vs3bVY14tAhEpX.jpg');
    background-size: cover;
}

.welcome-container {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 10px #ff6347;
}

h1 {
    color: #ff6347;
    font-size: 40px;
    animation: bounce 1s infinite;
}

.character img {
    width: 100px;
    animation: wave 2s infinite;
}

.input-container {
    margin-top: 20px;
}

    

input[type="text"], input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
    border: 2px solid #ff6347;
    border-radius: 10px;
    text-align: center;
}

input:focus {
    border-color: #0824a9;
    outline: none;
}

#startButton {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

    #startButton:hover {
        background-color: #ff4500;
        transform: scale(1.1);
        transition: 0.2s;
    }

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

@keyframes wave {
    0%, 100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-10deg);
    }
}
/*end page 1 */

